.navbar{
    display:flex;
    column-gap: 0.4cm;
    background-color:black;
}

a{
    color:white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.flexbox-container{
    display:flex;
    flex-direction: row;
    flex-basis: content;
    justify-content: space-around;
    align-items:center;
    background-color: rgb(2, 132, 184);
    border: 3px solid black;
}

.flexbox1{
    border: 3px solid black;
}

.flexbox2{
    color:black;
    background-color:white;
    width: 400px;
    height: 100px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    border: 3px solid black;
}
.flexbox3{
    border: 3px solid black;
}