.navbar{
    display:flex;
    column-gap: 0.4cm;
    background-color:rgba(3, 0, 0, 0.008);
    font-size: larger;
}

a{
    color:white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.flexbox-container{
    display:flex;
    flex-direction: row;
    flex-basis: content;
    justify-content: space-around;
    align-items:center;
    background-color: rgb(2, 132, 184);
    border: 3px solid black;
}

.flexbox1{
    border: 3px solid black;
}

.flexbox2{
    color:black;
    background-color:white;
    width: 400px;
    height: 100px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    border: 3px solid black;
}
.flexbox3{
    border: 3px solid black;
}

.flexbox-container2{
    display:flex;
    flex-direction: row;
    flex-basis: content;
    justify-content: space-around;
    align-content:stretch;
    background-color:white;
}

.flexbox4{

}
.flexbox5{
    display:flex;
    color:black;
    background-color:white;
    width: 400px;
    height: 100px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align:center;
    font-size: 14px;
}

.flexbox6 {
    display:flex;
    color:black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align:center;
    flex-direction:column;
    justify-content: center;
    align-content: center;
}

.Weblink {
    color:black;
    font-family: 'Plus Jakarta Sans', sans-serif;
<<<<<<< HEAD
}

.cardBodyMuseum{
    display:flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.cardBodyPark{
    display:flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.cardTitleCastle{
    font-size: medium;
    font-style: bold;
}

.cardTitleMuseum{
    font-size: medium;
    font-style: bold;
}

.cardTitlePark{
    font-size: medium;
    font-style: bold;
}

a.buttonCastle:visited{
    color:blue;
}

a.buttonCastle:hover{
    color:hotpink;
}

a.buttonMuseum:visited{
    color:blue;
}

a.buttonPark:visited{
    color:blue;
}

a.buttonMuseum:hover{
    color:hotpink;
}

a.buttonPark:hover{
    color:hotpink;
}
.placesToEat{
border-style: solid;
border-color: black;
border-width: 100%;

  
=======
    text-align:center;
}
>>>>>>> d2fd58067bd1b36551ff4a08124dd4c101b5e47c

.html{
    scroll-behaviour:smooth;
    <a> href="#Restaurants"></a>
    <div id="Restaurants"></div>
} 





