.navbar{
    display:flex;
    column-gap: 0.6cm;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: black;
}

a:visited{
    color:white;
}

a:hover{
    color:hotpink;
}

.containerNewsletter{
display:flex;
align-content:center;
}

body{

    background-color: #F9A826;
}
.row{
    display:flex;
    justify-content: center;
    align-content: center;
}

.rows{

    height: 100vh;
}


.form-control {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .575rem .75rem;
    font-size: 1rem;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 52px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card{

    padding: 20px;
    background-color: #eee;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    font-family:'Plus Jakarta Sans', sans-serif;
}

